body { padding-top: 50px; }
body, button, input, select {
	font-family: 'PT Sans Caption', sans-serif !important;
}
.footer {
	font-size: 10px;
	color: #a0a0a0;
}
td.right { text-align: right; }
.popover { width: 250px; }
#ajaxload { display: none; }
#lang-dropdown { padding: 8px; }
#lang-dropdown:hover { text-decoration: none; }
.navbar .nav>li>a:hover { text-decoration: underline; }
.navbar .nav .dropdown-toggle .caret { margin-top: 9px; }
#countryTbl td { vertical-align: middle; }
#addFormTbl td { padding-bottom: 7px; }
#filtersblock { margin-bottom: 5px; }
#filters { width: 100%; }
#filters td { vertical-align: middle; }
#filters td select { margin-bottom: 0; }
#customfilters input { margin-bottom: 0; }
#customfilters ul { text-align: left; }
#addForm, #filterForm { margin: 0; }
#panelButton { margin: 0 10px 5px; }
.legend { padding: 9px !important; }
#statTable { margin-top: 15px; }
#statTable th.days {
	font-weight: normal;
	text-align: center;
}
#statTable th.track { padding: 4px 0; }
#statTable td { text-align: center; }
#statTable td.date { width: 15%; }
#statTable td.track { width: 7%; }
#statTable th { text-align: center; }
#statsBlock table {
	table-layout: fixed;
	word-wrap: break-word;
}
#paginator ul li:not(.active) a { cursor: pointer; }
.summ_flag { width: 16px; }
.summ_country { width: 25%; }
.summ_type { width: 12%; }
.summ_img { vertical-align: 0; }
/*#errors, #statsBlock { display: none; }*/
#keywords {
	max-width: 960px;
	margin: 0 auto;
	line-height: 15px;
}
#statsBlock table caption {
	font-weight: bold;
	font-size: 16px;
	text-align: left;
	padding: 0 0 5px 5px;
}
.navbar .brand { padding: 4px 11px 4px 30px; }
.navbar .brand img { vertical-align: -9px; }
.justify { text-align: justify !important; }
h4 { margin: 5px 0; }
.well-small { padding: 5px; }
hr { margin: 10px 0; }
h4 img { vertical-align: -6px; }
#barcode, #customData { margin: 0; }
.reveal-modal {
	width: 305px;
	padding: 20px 20px 10px;
	margin-left: -153px;
}
#countryTbl td.img {
	width: 34px;
	text-align: right;
}
a.close-reveal-modal:hover {
	text-decoration: none;
	color: #000;
}
.errors {
	text-align: center;
	color: red;
	font-weight: bold;
}
.nobottom {
	margin-bottom: 0;
	padding-bottom: 0;
}
.google-block {
	margin-bottom: 7px;
	text-align: center;
}
.align_center {
	position: relative;
	width: 100%;
}
.align_center:after {
	content: '';
	display: block;
	clear: both;
}
.align_center_to_left {
	position: relative;
	right: 50%;
	float: right;
}
.align_center_to_right {
	position: relative;
	z-index: 1;
	right: -50%;
}