<div class="align_center">
	<div class="align_center_to_left">
		<div class="align_center_to_right">
			<!-- 728*90 Advertur.ru start -->
			<div id="advertur_93441"></div>
			<script type="text/javascript">
				(function (w, d, n) {
					w[n] = w[n] || [];
					w[n].push({
						section_id: 93441,
						place: "advertur_93441",
						width: 728,
						height: 90
					});
				})(window, document, "advertur_sections");
			</script>
			<!-- 728*90 Advertur.ru end -->
		</div>
	</div>
</div>
