<div class="align_center">
	<div class="align_center_to_left">
		<div class="align_center_to_right">
			<!-- 240*400 Advertur.ru start -->
			<div id="advertur_93466"></div>
			<script type="text/javascript">
				(function (w, d, n) {
					w[n] = w[n] || [];
					w[n].push({
						section_id: 93466,
						place: "advertur_93466",
						width: 240,
						height: 400
					});
				})(window, document, "advertur_sections");
			</script>
			<!-- 240*400 Advertur.ru end -->
		</div>
	</div>
</div>
