{% extends 'base.html' %}
{% load i18n %}{% load rstatic %}
{% block title %}- {% trans 'немного о сервисе' %}{% endblock %}
{% block debugjs %}
	<script src="{% cstatic "js/ng/controllers/sideStats.js" %}"></script>
{% endblock %}
{% block content %}
<div class='container-fluid'>
	<div class='row-fluid'>
		<div class='span3' ng-controller='sideStatsCtrl'>{% include 'sidestats.html' %}</div>
		<div class='span9'>{% include 'addform.html' %}
			{# {% include 'ads/adster_600x120.html' %} #}
			{# {% include 'ads.html' %} #}
			<div class='text-center'>
				<h4>{% trans 'О проекте &quot;Пошта-Стат&quot;' %}</h4>
			</div><br/>
			<p class='justify'>
				{% trans 'Данный проект создавался в 2013-2014 г. для сбора статистики сроков прохождения международных почтовых отправлений в Украину с целью исправить ситуацию отсутствия подобных сервисов для нашей страны как таковых.' %}<br/><br/>
				{% trans 'Статистика сроков прохождения почтовых отправлений составляется на основе информации, полученной по трек-номерам посылок, предоставленных посетителями сайта добровольно. Трек-номера посылок ни при каких условиях не будут переданы третьим лицам и по этой же причине отображаются на сайте в скрытом, сокращенном виде.' %}<br/><br/>
				{% trans 'Отслеживание посылок осуществляется роботом, который регулярно через определенные промежутки времени проверяет номера посылок на общедоступных сайтах для отслеживания международных почтовых отправлений. Обратите внимание, что треки, у которых отсутствовали какие-либо обновления в статусах их прохождения на протяжении 60 дней автоматически удаляются из очереди проверки.' %}<br/><br/>
				{% trans 'Добавление трек-номера посылки в статистику не требует регистрации на сайте. Ваш номер сразу же после добавления попадает в общую очередь отслеживания. Обратите внимание, что для появления информации о треке в системе может потребоваться в среднем 10-20 мин.' %}<br/><br/>
				{% trans "Если у Вас есть пожелания, замечания или предложения, можете их оставить на <a href='/feedback/'>странице отзывов и предложений</a> либо в официальной <a href='http://forum.china-iphone.ru/perviy-servis-statistiki-dostavki-posilok-v-ukrainu-t32573.html'>теме сервиса</a> на форуме China-Iphone.ru, а также вступайте в <a href='http://vk.com/poshtastat'>официальную группу</a> сервиса ВКонтакте, чтобы быть всегда в курсе всех новостей сервиса." %}
			</p><br/>
			<div class='text-center'><strong>{% trans 'Желаем Вам приятного ожидания Ваших посылок!' %}</strong></div>
		</div>
	</div>
</div>
{% endblock %}