{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div id='add-form-block' class='reveal-modal' ng-controller="addFormCtrl">
	<form id='addForm' method='post'>
		<table id='addFormTbl'>
			<tr>
				<td><strong>{% trans 'Трек-код посылки:' %}</strong></td>
				<td class='text-right'>
					<input
						ng-model='formData.barcode'
						ng-change='barcodeCheck()'
						ng-keyup='barcodeCheck()'
						ng-paste='barcodeCheck()'
						ng-cut='barcodeCheck()'
						type='text' name='barcode'
						class='input-medium'
						maxlength='13'
						id='barcode'/>
				</td>
			</tr>
			<tr>
				<td>{% trans 'Доп. данные:' %}</td>
				<td class='text-right'>
					<input
						ng-model='formData.customData'
						ng-disabled='customDataDisabled'
						type='text'
						name='customData'
						class='input-medium'
						maxlength='12'
						id='customData'/>
				</td>
			</tr>
			<tr>
				<td colspan='2' class="g-recaptcha" data-sitekey="{{ recaptcha_public }}"></td>
			</tr>
			<tr>
				<td colspan='2' class='text-center'>
					<button
						class='btn btn-large btn-primary btn-block'
						type='button'
						ng-click='submitAdd()'
						ng-disabled='addButtonDisabled'>
						<span ng-hide='addButtonDisabled'><i class='icon-ok icon-white'></i> <strong>{% trans 'Добавить' %}</strong></span>
						<span ng-show='addButtonDisabled'><i class="icon-refresh icon-white"></i> {% trans 'Подождите...' %}</span>
					</button>
				</td>
			</tr>
		</table>
	</form>
	<a class='close-reveal-modal'>&#215;</a>
	<script src="https://www.google.com/recaptcha/api.js?hl={{ LANGUAGE_CODE }}" type="text/javascript" async defer></script>
</div>