{% load i18n %}
<!--<div class="alert alert-block alert-success">
	<h4>{% trans "ВНИМАНИЕ! <a href='https://petition.president.gov.ua/petition/31085' target='_blank'>Поддержите петицию</a> о повышении лимита безпошлинного ввоза посылок до 500&euro;! Сделаем зарубежный шоппинг более доступным!" %}</h4>
</div>-->