{% load rstatic %}
<!DOCTYPE html>
<html ng-app='psApp'>
	<head>
		<meta charset='utf-8'>
		<meta name='keywords' content='укрпошта, статистика, посылки, отслеживание, статистика передвижения, трек номер посылки, отслеживание посылок украина, ожидание посылки из-за границы, почтовые отправления, проверить трек код посылки, интернет-шоппинг, онлайн покупки за рубежом{{ keywords }}'>
		<meta name='description' content='{{ description }} Пошта-стат - первая статистика передвижения любых почтовых отправлений в Украину из зарубежа'>
		<meta name='google-site-verification' content='8CeZCcug-lAvSJFgmaSuno0GEXFPcTB7Dmu0jOfVmnI'/>
		<meta name='yandex-verification' content='784330e54401bc9a'/>
		<meta name='advmaker-verification' content='e31410a3dbaf9911d6dda48a7d2a97c5'/>
		<meta name="verify-admitad" content="c03d4681df" />
		<meta property='og:title' content='Пошта-Стат'/>
		<meta property='og:description' content='{{ description }} Пошта-стат - первая статистика передвижения любых почтовых отправлений в Украину из зарубежа'/>
		<meta property='og:image' content='{% cstatic "images/box.png" %}'/>
		<link rel='shortcut icon' type='image/x-icon' href='{% cstatic "images/favicon.ico" %}'>
		<link rel='icon' type='image/x-icon' href='{% cstatic "images/favicon.ico" %}'>
		<link rel='apple-touch-icon' href='{% cstatic "images/box.png" %}'/>
		<title ng-if='pageTitle' ng-bind='pageTitle'></title>
		<title ng-if='!pageTitle'>Пошта-Стат {% block title %}{% endblock %}</title>
		<script src='{% cstatic "js/libs.min.js" %}' type='text/javascript'></script>
		<script async src='/jsi18n/'></script>
		<link href='{% cstatic "css/bootstrap.min.css" %}' rel='stylesheet'/>
		<link href='//fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&amp;subset=latin,cyrillic' rel='stylesheet'/>
		<script type='text/javascript'>{% block initjs %}var PS={afo:JSON.parse('{{ addform_js_vars|addslashes|safe }}')};{% endblock %}</script>
		{% if DEBUG %}
		<script src='{% cstatic "js/3rdparty/datepicker/bootstrap-datepicker.min.js" %}'></script>
		<script src='{% cstatic "js/3rdparty/messi/messi.min.js" %}'></script>
		<script src='{% cstatic "js/3rdparty/reveal/jquery.reveal.js" %}'></script>
		<script src='{% cstatic "js/3rdparty/paginator/bootstrap-paginator.min.js" %}'></script>
		<script src='{% cstatic "js/3rdparty/ng/quick-ng-repeat.js" %}'></script>
		<script src='{% cstatic "js/ng/app.js" %}'></script>
		<script src='{% cstatic "js/ng/directives.js" %}'></script>
		<script src='{% cstatic "js/ng/services.js" %}'></script>
		<script src='{% cstatic "js/ng/factories.js" %}'></script>
		<script src='{% cstatic "js/ng/filters.js" %}'></script>
		<script src='{% cstatic "js/ng/controllers/addForm.js" %}'></script>
		{% block debugjs %}{% endblock %}
		<link href='{% cstatic "css/3rdparty/reveal/reveal.css" %}' rel='stylesheet'/>
		<link href='{% cstatic "css/3rdparty/messi/messi.min.css" %}' rel='stylesheet'/>
		<link href='{% cstatic "css/3rdparty/flags/flags.css" %}' rel='stylesheet'/>
		<link href='{% cstatic "css/3rdparty/datepicker/bootstrap-datepicker.min.css" %}' rel='stylesheet'/>
		<link href='{% cstatic "css/style.css" %}' rel='stylesheet'/>
		{% block debugcss %}{% endblock %}
		{% else %}
		<script type='text/javascript' src='{% dist_static "scripts.min.js" %}'></script>
		<link href='{% dist_static "styles.min.css" %}' rel='stylesheet' type='text/css'/>
		{% endif %}
	</head>
	<body>
		{% include 'panel.html' %}
		{% block content %}{% endblock %}
		{% include 'footer.html' %}
	</body>
</html>
