{% extends 'base.html' %}
{% load i18n %}{% load rstatic %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}- {% trans 'отзывы и предложения' %}{% endblock %}
{% block debugjs %}<script src='{% cstatic "js/ng/controllers/sideStats.js" %}'></script>{% endblock %}

{% block content %}
<div class='container-fluid'>
	<div class='row-fluid'>
		<div class='span3' ng-controller='sideStatsCtrl'>{% include 'sidestats.html' %}</div>
		<div class='span9'>{% include 'addform.html' %}
			{# {% include 'ads/adster_600x120.html' %} #}
			{# {% include 'ads.html' %} #}
			<div class='text-center'>
				<h4>{% trans 'Отзывы и предложения для проекта' %}</h4>
			</div><br/>
			<div id="disqus_thread"></div>
			<script>
			var disqus_config = function () {
				this.page.url = 'http://poshta-stat.tk/feedback/';
				this.language = '{{ LANGUAGE_CODE }}';
			};
			(function() { // DON'T EDIT BELOW THIS LINE
			    var d = document, s = d.createElement('script');
			    s.src = '//poshtastat.disqus.com/embed.js';
			    s.setAttribute('data-timestamp', +new Date());
			    (d.head || d.body).appendChild(s);
			})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>                                    
		</div>
	</div>
</div>
{% endblock %}