<!--<hr/>-->
{# {% include 'ads/adster_728x90.html' %} #}
<hr/>
<div class='text-center footer'>
	{% if not is_crawler %}{% include 'counters.html' %}{% endif %}
	{% include 'seo_keywords.html' %}
	&copy;2014, inox dev group
</div>