{% extends 'base.html' %}
{% load rstatic %}{% load i18n %}
{% block title %}- {% trans 'первая статистика доставки посылок в Украину' %}{% endblock %}
{% block content %}
<div class='container-fluid'>
	<div class='row-fluid'>
		<div class='span3'>
			<div class='well well-small text-center'>
				<h4><img src='{% cstatic "images/int_24.png" %}'>&nbsp;{% trans 'Международные посылки' %}</h4>
			</div>
			<table class='table table-condensed'>
				<caption><strong>{% trans 'Статистика за сегодня' %}</strong></caption>
				<tbody>
					<tr>
						<td>{% trans 'Добавлено' %}</td>
						<td class='right'><span class='badge'>{{ td_stat.create }}</span></td>
					</tr>
					<tr>
						<td>{% trans 'Принято к пересылке' %}</td>
						<td class='right'><span class='badge badge-info'>{{ td_stat.accept }}</span></td>
					</tr>
					<tr>
						<td>{% trans 'Экспорт' %}</td>
						<td class='right'><span class='badge badge-important'>{{ td_stat.export }}</span></td>
					</tr>
					<tr>
						<td>{% trans 'Импорт' %}</td>
						<td class='right'><span class='badge badge-success'>{{ td_stat.importd }}</span></td>
					</tr>
					<tr>
						<td>{% trans 'Поступило на таможню' %}</td>
						<td class='right'><span class='badge badge-warning'>{{ td_stat.entercustoms }}</span></td>
					</tr>
					<tr>
						<td>{% trans 'Покинуло ММПО' %}</td>
						<td class='right'><span class='badge badge-info'>{{ td_stat.importleave }}</span></td>
					</tr>
					<tr>
						<td>{% trans 'Поступило в отделение' %}</td>
						<td class='right'><span class='badge badge-success'>{{ td_stat.arrive }}</span></td>
					</tr>
					<tr>
						<td>{% trans 'Вручено адресату' %}</td>
						<td class='right'><span class='badge badge-inverse'>{{ td_stat.deliver }}</span></td>
					</tr>
				</tbody>
			</table>
			<table class='table table-condensed'>
				<caption><strong>{% trans 'Статистика за вчера' %}</strong></caption>
				<tbody>
					<tr>
						<td>{% trans 'Добавлено' %}</td>
						<td class='right'><span class='badge'>{{ yd_stat.create }}</span></td>
					</tr>
					<tr>
						<td>{% trans 'Принято к пересылке' %}</td>
						<td class='right'><span class='badge badge-info'>{{ yd_stat.accept }}</span></td>
					</tr>
					<tr>
						<td>{% trans 'Экспорт' %}</td>
						<td class='right'><span class='badge badge-important'>{{ yd_stat.export }}</span></td>
					</tr>
					<tr>
						<td>{% trans 'Импорт' %}</td>
						<td class='right'><span class='badge badge-success'>{{ yd_stat.importd }}</span></td>
					</tr>
					<tr>
						<td>{% trans 'Поступило на таможню' %}</td>
						<td class='right'><span class='badge badge-warning'>{{ yd_stat.entercustoms }}</span></td>
					</tr>
					<tr>
						<td>{% trans 'Покинуло ММПО' %}</td>
						<td class='right'><span class='badge badge-info'>{{ yd_stat.importleave }}</span></td>
					</tr>
					<tr>
						<td>{% trans 'Поступило в отделение' %}</td>
						<td class='right'><span class='badge badge-success'>{{ yd_stat.arrive }}</span></td>
					</tr>
					<tr>
						<td>{% trans 'Вручено адресату' %}</td>
						<td class='right'><span class='badge badge-inverse'>{{ yd_stat.deliver }}</span></td>
					</tr>
				</tbody>
			</table><br/>
			{# {% include 'ads/adster_240x400.html' %} #}
		</div>
		<div class='span6'>
			{# {% include 'ads/adster_600x120.html' %} #}
			{# {% include 'ads.html' %} #}
			<div class='alert alert-block alert-info'>
				<h4>{% trans 'Добро пожаловать!' %}</h4><br/>
				<p class='justify'>
					{% trans 'Данный ресурс был создан для сбора подробной статистики доставки писем/бандеролей/посылок из различных стран в Украину. Статистика собирается непосредственно по трек-кодам посылок, которые добровольно предоставляются пользователями сайта. Сами трек-коды не передаются третьим лицам и отображаются в списках статистики в только в сокращенном виде (например RF..SG, RA..CN, CJ..US).' %}
				</p>
			</div>
			<div class='text-center'>
				<button class='btn btn-large btn-success' type='button' id='addParcel' add-form-trigger>
					<i class='icon-plus icon-white'></i> <strong>{% trans 'Добавить посылку' %}</strong>
				</button>&nbsp;
				<a href='/stat/' class='btn btn-large btn-primary'><i class='icon-globe icon-white'></i> <strong>{% trans 'Общая статистика' %}</strong></a>
			</div><hr/>
			<h4 style='text-align:center'>{% trans 'Статистика по странам/почтовым службам:' %}</h4>
			<table class='table table-condensed table-hover' id='countryTbl'>
			{% for row in enabled_srv %}
				<tr>
				{% for item in row %}
					{% if item %} 
					<td{% if None in row %} colspan='2'{% endif %} class='img'><img src='{% cstatic "images/blank.gif" %}' class='flag-big {{ item.ccode }}'></td>
					<td{% if None in row %} colspan='2'{% endif %}><a href='/stat/?service={{ item.id }}'>{% trans item.country %}<br><span style='font-size:11px'>({{ item.postname }})</span></a></td>
					{% endif %}
				{% endfor %}
				</tr>
			{% endfor %}
			</table>
			{% include 'addform.html' %}
		</div>
		<div class='span3'>
			<div class="well well-small text-center">
				<h4><img src='{% cstatic "images/ukr_24.png" %}'>&nbsp;{% trans 'Внутренние посылки' %}</h4>
			</div>
			<table class='table table-condensed'>
				<caption><strong>{% trans 'Статистика за сегодня' %}</strong></caption>
				<tbody>
					<tr>
						<td>{% trans 'Добавлено' %}</td>
						<td class='right'><span class='badge'>{{ int_td_stat.create }}</span></td>
					</tr>
					<tr>
						<td>{% trans 'Принято к пересылке' %}</td>
						<td class='right'><span class='badge badge-info'>{{ int_td_stat.accept }}</span></td>
					</tr>
					<tr>
						<td>{% trans 'Поступило в отделение' %}</td>
						<td class='right'><span class='badge badge-success'>{{ int_td_stat.arrive }}</span></td>
					</tr>
					<tr>
						<td>{% trans 'Вручено адресату' %}</td>
						<td class='right'><span class='badge badge-inverse'>{{ int_td_stat.deliver }}</span></td>
					</tr>
				</tbody>
			</table>
			<table class='table table-condensed'>
				<caption><strong>{% trans 'Статистика за вчера' %}</strong></caption>
				<tbody>
					<tr>
						<td>{% trans 'Добавлено' %}</td>
						<td class='right'><span class='badge'>{{ int_yd_stat.create }}</span></td>
					</tr>
					<tr>
						<td>{% trans 'Принято к пересылке' %}</td>
						<td class='right'><span class='badge badge-info'>{{ int_yd_stat.accept }}</span></td>
					</tr>
					<tr>
						<td>{% trans 'Поступило в отделение' %}</td>
						<td class='right'><span class='badge badge-success'>{{ int_yd_stat.arrive }}</span></td>
					</tr>
					<tr>
						<td>{% trans 'Вручено адресату' %}</td>
						<td class='right'><span class='badge badge-inverse'>{{ int_yd_stat.deliver }}</span></td>
					</tr>
				</tbody>
			</table>
			<div class='text-center'>
				<a href="https://tkts.cl/a/ODE5YjBmZ"><img src="https://tkts.cl/a/ODE5YjBmZ.gif" /></a>
			</div>
		</div>
	</div>
</div>
{% endblock %}