{% load i18n %}{% load customfilters %}{% load rstatic %}
{% get_language_info_list for LANGUAGES as languages %}
{% get_current_language as LANGCODE %}
<div class='navbar navbar-fixed-top'>
	<div class='navbar-inner'>
		<a class='brand' href='/'><img src='{% cstatic "images/envelope.png" %}'>&nbsp;Пошта-Стат</a>
		<ul class='nav'>
			<li class='dropdown'>
				<a href='#' class='dropdown-toggle' data-toggle='dropdown' id='lang-dropdown'>
					<img src='{% cstatic "images/blank.gif" %}' class='flag-med {{ LANGCODE|isocode }}'/>&nbsp;<b class='caret'></b>
				</a>
				<ul class='dropdown-menu'>
					{% for lang in languages %}
						<li><a href='/setlang/{{ lang.code }}/' {% if lang.code == LANGCODE %}onclick='event.preventDefault()'{% endif %}>
							<img src='{% cstatic "images/blank.gif" %}' class='flag flag-{{ lang.code|isocode }}'/>&nbsp;{% if lang.code == LANGCODE %}<strong>{{ lang.name_local }}</strong>{% else %}{{ lang.name_local }}{% endif %}
						</a></li>{% endfor %}
				</ul>
			</li>
			<li{% if page == 'index'%} class='active'{% endif %}><a href='/'>{% trans 'Главная' %}</a></li>
			<li class='dropdown{% if page == "stat"%} active{% endif %}'>
				<a href='' class='dropdown-toggle' data-toggle='dropdown'>{% trans 'Статистика' %}&nbsp;<b class='caret'></b></a>
				<ul class='dropdown-menu'>
					<li><a href='/stat/'><i class='icon-globe'></i> <strong>{% trans 'Общая по всем странам' %}</strong></a></li>
					<li class="divider"></li>
					<li style='padding:3px 10px'><strong>{% trans 'Наиболее популярная' %}</strong></li>
					{% for pop in popular_srv %}
					<li><a href='/stat/?service={{ pop.id }}'><img src='{% cstatic "images/blank.gif" %}' class='flag flag-{{ pop.ccode }}'>&nbsp;{% trans pop.country %} ({{ pop.ccode|upper }})</a></li>
					{% endfor %}
				</ul>
			</li>
			<li{% if page == 'summary'%} class='active'{% endif %}><a href='/summary/'>{% trans 'Итоги дня' %}</a></li>
			<li{% if page == 'feedback' %} class='active'{% endif %}><a href='/feedback/'>{% trans 'Отзывы' %}</a></li>
			<li{% if page == 'about' %} class='active'{% endif %}><a href='/about/'>{% trans 'О сайте' %}</a></li>
		</ul>
		{% if showaddbutton %}<p class='pull-right' id='panelButton'>
			<button class='btn btn-success' id='addParcel' add-form-trigger>
				<i class='icon-plus icon-white'></i> <strong>{% trans 'Добавить посылку' %}</strong>
			</button>
		</p>{% endif %}
	</div>
</div>