{% load i18n %}
<div class='well well-small text-center'>
	<h4>{% verbatim %}<img id='i_summary' ng-src="{{summaryImgFlag}}" ng-class="summaryImgClass">{% endverbatim %}&nbsp;{% trans 'Итоги по статусам' %}</h4>
</div>
<table class='table table-condensed'>
<caption><strong>{% trans 'Статистика за сегодня' %}</strong></caption>
<tbody>
	<tr>
		<td>{% trans 'Добавлено' %}</td>
		<td class='right'><span class='badge' id='td_create' ng-bind="data.tdStat.create|ifEmpty:gettext(errmsg)"></span></td>
	</tr>
	<tr>
		<td>{% trans 'Принято к пересылке' %}</td>
		<td class='right'><span class='badge badge-info' id='td_accept' ng-bind="data.tdStat.accept|ifEmpty:gettext(errmsg)"></span></td>
	</tr>{% if not internal %}
	<tr>
		<td>{% trans 'Экспорт' %}</td>
		<td class='right'><span class='badge badge-important' id='td_export' ng-bind="data.tdStat.export|ifEmpty:gettext(errmsg)"></span></td>
	</tr>
	<tr>
		<td>{% trans 'Импорт' %}</td>
		<td class='right'><span class='badge badge-success' id='td_importd' ng-bind="data.tdStat.importd|ifEmpty:gettext(errmsg)"></span></td>
	</tr>
	<tr>
		<td>{% trans 'Поступило на таможню' %}</td>
		<td class='right'><span class='badge badge-warning' id='td_entercustoms' ng-bind="data.tdStat.entercustoms|ifEmpty:gettext(errmsg)"></span></td>
	</tr>
	<tr>
		<td>{% trans 'Покинуло ММПО' %}</td>
		<td class='right'><span class='badge badge-info' id='td_importleave' ng-bind="data.tdStat.importleave|ifEmpty:gettext(errmsg)"></span></td>
	</tr>{% endif %}
	<tr>
		<td>{% trans 'Поступило в отделение' %}</td>
		<td class='right'><span class='badge badge-success' id='td_arrive' ng-bind="data.tdStat.arrive|ifEmpty:gettext(errmsg)"></span></td>
	</tr>
	<tr>
		<td>{% trans 'Вручено адресату' %}</td>
		<td class='right'><span class='badge badge-inverse' id='td_deliver' ng-bind="data.tdStat.deliver|ifEmpty:gettext(errmsg)"></span></td>
	</tr>
</tbody>
</table>
<table class='table table-condensed'>
<caption><strong>{% trans 'Статистика за вчера' %}</strong></caption>
<tbody>
	<tr>
		<td>{% trans 'Добавлено' %}</td>
		<td class='right'><span class='badge' id='yd_create' ng-bind="data.ydStat.create|ifEmpty:gettext(errmsg)"></span></td>
	</tr>
	<tr>
		<td>{% trans 'Принято к пересылке' %}</td>
		<td class='right'><span class='badge badge-info' id='yd_accept' ng-bind="data.ydStat.accept|ifEmpty:gettext(errmsg)"></span></td>
	</tr>{% if not internal %}
	<tr>
		<td>{% trans 'Экспорт' %}</td>
		<td class='right'><span class='badge badge-important' id='yd_export' ng-bind="data.ydStat.export|ifEmpty:gettext(errmsg)"></span></td>
	</tr>
	<tr>
		<td>{% trans 'Импорт' %}</td>
		<td class='right'><span class='badge badge-success' id='yd_importd' ng-bind="data.ydStat.importd|ifEmpty:gettext(errmsg)"></span></td>
	</tr>
	<tr>
		<td>{% trans 'Поступило на таможню' %}</td>
		<td class='right'><span class='badge badge-warning' id='yd_entercustoms' ng-bind="data.ydStat.entercustoms|ifEmpty:gettext(errmsg)"></span></td>
	</tr>
	<tr>
		<td>{% trans 'Покинуло ММПО' %}</td>
		<td class='right'><span class='badge badge-info' id='yd_importleave' ng-bind="data.ydStat.importleave|ifEmpty:gettext(errmsg)"></span></td>
	</tr>{% endif %}
	<tr>
		<td>{% trans 'Поступило в отделение' %}</td>
		<td class='right'><span class='badge badge-success' id='yd_arrive' ng-bind="data.ydStat.arrive|ifEmpty:gettext(errmsg)"></span></td>
	</tr>
	<tr>
		<td>{% trans 'Вручено адресату' %}</td>
		<td class='right'><span class='badge badge-inverse' id='yd_deliver' ng-bind="data.ydStat.deliver|ifEmpty:gettext(errmsg)"></span></td>
	</tr>
</tbody>
</table>
{# {% include 'ads/adster_240x400.html' %} #}