{% extends 'base.html' %}
{% load rstatic %}{% load customfilters %}{% load i18n %}

{% block debugjs %}
<script src="{% cstatic "js/ng/controllers/stats.js" %}"></script>
<script src="{% cstatic "js/ng/controllers/sideStats.js" %}"></script>
{% endblock %}

{% block content %}
<div class='container-fluid'>
	<div class='row-fluid'>
		<div class='span3' ng-controller="sideStatsCtrl">{% include 'sidestats.html' %}</div>
		<div class='span9' ng-controller="statsCtrl">{% include 'addform.html' %}
			{# {% include 'ads/adster_600x120.html' %} #}
			{# {% include 'ads.html' %} #}
			{% verbatim %}<div class='text-center' ng-cloak><h4 id='tableTitle'>{{ data.tableTitle|ucfirst }}</h4></div>{% endverbatim %}
			<div class='well well-small legend justify'>
				{% trans '<u>Подсказка:</u> По клику на названия полей дат можно отсортировать статистику в порядке убывания дат согласно выбранного типа операции, а по клику на "Трек" - сортировка производится по дате добавления в нашу систему. Также по клику на трек можно просмотреть подробную информацию о выбранной посылке.' %}
			</div>{% if not internal %}
			<!-- filters start -->
			<form id='filterForm'><div class='well well-small' id='filtersblock'>
				<table id='filters'>
					<tr>
						<td>{% trans 'Тип' %}:&nbsp;<select name='parcelType' id='f_parcelType' ng-model="filterParams.parcelType" ng-change="resetFilters()">
							<option value='0' selected='selected'>{% trans 'Не выбран/все типы' %}</option>
							<option value='1'>{% trans 'RX..XX (мелкие пакеты, заказные письма)' %}</option>
							<option value='2'>{% trans 'CX..XX (бандероли, посылки)' %}</option>
							<option value='3'>{% trans 'EX..XX (EMS-отправления)' %}</option>
							<option value='4'>{% trans 'LX..XX (EMS e-packet)' %}</option>
						</select>
						</td>
						<td>
							{% trans 'Cтрана' %}:&nbsp;<select name='service' id='f_service' ng-model="filterParams.service" ng-change="resetFilters()">
								<option value='0' selected='selected'>{% trans 'Все страны/сервисы' %}</option>
								{% for srv in enabled_srv_normal %}{% if srv.id != 1 %}<option value='{{ srv.id }}' >{% trans srv.country %} ({{ srv.postname }})</option>{% endif %}{% endfor %}
							</select>
						</td>
						<td align='right'>
							<button type='button' class='btn btn-primary' ng-click="qsUpdate()" id='bsearch' ng-disabled="searchIsActive"><i class='icon-search icon-white'></i> <strong>{% trans 'Поиск' %}</strong></button>
						</td>
					</tr>
				</table>
			</div>
			<!-- filters end -->
			<!-- custom filters start -->
			<div id='customfilters' class='well well-small text-center' ng-show='showCustomFilters' ng-cloak>
				<strong>{% trans 'Номер депеши (мешка)' %}:</strong>&nbsp;
				<input
					type='number'
					min='0'
					max='10000'
					name='bagNumber'
					class='input-medium'
					id='bagNumber'
					maxlength='5'
					ng-model='filterParams.bagNumber'
					ng-change='filterParams.page="1"'
					placeholder='{% trans "номер мешка..." %}'
					bind-enter='qsUpdate()'
					str-to-num
				/>
			</div></form>
			<!-- custom filters end -->
			{% endif %}
			<!-- main table start -->
			<table class='table table-condensed table-hover' id='statTable' ng-cloak>{% if not internal %}
				<thead>
					<tr ng-show="showTable">
						<th class='track'><a href='' id='a_id' ng-click="setSort(0)">{% trans 'Трек' %}</a> <i id='i_id' class=''></i></th>
						<th><a href='' id='a_export' ng-click="setSort(1)">{% trans 'Экспорт' %}</a> <i id='i_export' class=''></i></th><th class='days'>{% trans 'дни' %}</th>
						<th><a href='' id='a_importd' ng-click="setSort(2)">{% trans 'Импорт' %}</a> <i id='i_importd' class=''></i></th><th class='days'>{% trans 'дни' %}</th>
						<th><a href='' id='a_importleave' ng-click="setSort(3)">{% trans 'ПММО' %}</a> <i id='i_importleave' class=''></i></th><th class='days'>{% trans 'дни' %}</th>
						<th><a href='' id='a_arrive' ng-click="setSort(4)">{% trans 'ПНВ' %}</a> <i id='i_arrive' class=''></i></th><th class='days'>{% trans 'дни' %}</th>
						<th><a href='' id='a_deliver' ng-click="setSort(5)">{% trans 'Вручено' %}</a> <i id='i_deliver' class=''></i></th>
						<th class='days'>{% trans 'Всего' %}</th>
					</tr>
					<tr ng-if="searchIsActive" ng-cloak>
						<th colspan='11' class='text-center'><img src='{% cstatic "images/ajax-loader.gif" %}' alt='loader'/></th>
					</tr>
					<tr ng-if="showError" ng-cloak>
						<th colspan="11" class="errors">{% verbatim %}{{ gettext(errorText) }}{% endverbatim %}</th>
					</tr>
				</thead>
				<tbody>
				{% verbatim %}
					<tr quick-ng-repeat="track in data.tracks" quick-repeat-list='tracks' ng-cloak>
						<td class="track"><a href="/track/{{ track.id }}/">{{ track.code }}</a></td>
						<td class="date"><strong>{{ track.export ? track.export : '&hellip;' }}</strong></td>
						<td><strong>{{ track.daysBetween[0] }}</strong></td>
						<td class="date"><strong>{{ track.importd ? track.importd : '&hellip;' }}</strong></td>
						<td><strong>{{ track.daysBetween[1] }}</strong></td>
						<td class="date"><strong>{{ track.importleave ? track.importleave : '&hellip;' }}</strong></td>
						<td><strong>{{ track.daysBetween[2] }}</strong></td>
						<td class="date"><strong>{{ track.arrive ? track.arrive : '&hellip;' }}</strong></td>
						<td><strong>{{ track.daysBetween[3] }}</strong></td>
						<td class="date"><strong>{{ track.deliver ? track.deliver : '&hellip;' }}</strong></td>
						<td><strong>{{ track.totalDays }}</strong></td>
					</tr>
				{% endverbatim %}
				</tbody>{% else %}
				<thead>
					<tr>
						<th>{% trans 'Трек' %}</th>
						<th><a href='?s=1'>{% trans 'Приём' %}</a>{% if sort == 'accept' %} <i class='icon-chevron-down'></i>{% endif %}</th><th class='days'>{% trans 'дни' %}</th>
						<th><a href='?s=2'>{% trans 'ПНВ' %}</a>{% if sort == 'arrive' %} <i class='icon-chevron-down'></i>{% endif %}</th><th class='days'>{% trans 'дни' %}</th>
						<th><a href='?s=3'>{% trans 'Вручено' %}</a>{% if sort == 'deliver' %} <i class='icon-chevron-down'></i>{% endif %}</th>
						<th class='days'>{% trans 'Всего' %}</th>
					</tr>
				</thead>
				<tbody>
					{% for track in tracks %}
					<tr>
						<td><a href='/track/{{ track.id }}/'>{{ track.number|trackhide }}</a></td>
						<td>{{ track.accept|date:"d.m.Y"|default:"н/д" }}</td>
						<td class='days'>{{ track.accept|daysdiff:track.arrive }}</td>
						<td>{{ track.arrive|date:"d.m.Y"|default:"н/д" }}</td>
						<td class='days'>{{ track.arrive|daysdiff:track.deliver }}</td>
						<td>{{ track.deliver|date:"d.m.Y"|default:"н/д" }}</td>
						<td class='days'><strong>{{ track|calcdays }}</strong></td>
					</tr>
					{% empty %}
					<tr>
						<td colspan='13' class='days'>{% trans 'Пока что по данному направлению нет треков' %}</td>
					</tr>
					{% endfor %}
				</tbody>{% endif %}
			</table>
			<!-- main table end -->
			<hr>
			<paginator total-pages="data.totalPages" current-page="data.curPage" change-cb="setPage"><div id="paginator"></div></paginator>
			<div class='well well-small legend justify'>
				{% trans 'В таблице приняты следующие сокращения' %}:
				<ul>
					<li><strong>{% trans 'ПММО' %}</strong> - {% trans 'покинуло место международного обмена (прошло таможенное оформление и направляется адресату)' %};</li>
					<li><strong>{% trans 'ПНВ' %}</strong> - {% trans 'поступило на вручение (в отделение, где посылка должна быть вручена адресату)' %}.</li>
				</ul>
				<p class='justify'>{% trans 'В таблице представлена информация о движении посылок от момента экспорта (или приёма) и до получения в местном отделении почты. Обратите внимание, что в статистике <u>не отображаются</u> посылки, информация по которым еще не была получена нашей системой. Посылки автоматически появляются в статистике, как только по ним поступят первые данные о передвижении. Статистика составляется на основе информации, полученной по трек-кодам посылок, которые предоставляются посетителями сайта добровольно.' %}</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}