{% extends 'base.html' %}
{% load rstatic %}{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}- {% trans 'статистика доставки почтовых отправлений в Украину, итоги дня' %}{% endblock %}
{% block initjs %}{{ block.super }}PS.cmap=JSON.parse('{{ country_map|addslashes|safe }}');{% endblock %}
{% block debugjs %}
<script src='{% cstatic "js/ng/controllers/summary.js" %}'></script>
<script src='{% cstatic "js/ng/controllers/sideStats.js" %}'></script>
{% endblock %}

{% block content %}
<div class='container-fluid'>
	<div class='row-fluid'>
		<div class='span3' ng-controller="sideStatsCtrl">{% include 'sidestats.html' %}</div>
		<div class='span9' ng-controller="summaryCtrl">{% include 'addform.html' %}
			{# {% include 'ads/adster_600x120.html' %} #}
			{# {% include 'ads.html' %} #}
			<div class='text-center'>
				<h4>{% trans 'Сводная статистика за день' %} - <span id='summ_date' ng-bind="data.day"></span></h4>
			</div>
			<!-- day select form -->
			<div class='well well-small text-center'>
				{% trans 'День' %}:&nbsp;
				<datepicker max-date="{{ max_date }}" min-date="{{ min_date }}" lang-code="{{ LANGUAGE_CODE }}" change-cb="setDate">
					<div class="input-append date nobottom" id="datepicker">
						<input type="text" class="input-small" readonly ng-model="filterParams.date" /><span class="add-on"><i class="icon-calendar"></i></span>
					</div>
				</datepicker>
			</div>
			<!-- end of day select form -->
			<div class='text-center' ng-show="searchIsActive" ng-cloak><img src='{% cstatic "images/ajax-loader.gif" %}' alt='loader'/></div>
			<div ng-show='showError' class='text-center errors' ng-cloak>{% trans 'Ошибка запроса, пожалуйста повторите попытку позже' %}</div>
			<div ng-show='!searchIsActive && !showError' id="statsBlock" ng-cloak>
				<table ng-repeat="t in orderedTableTitles" class="table table-condensed table-bordered">
					<caption>{% verbatim %}{{ gettext(t.value) }}:{% endverbatim %} <span ng-bind="data.detailedCount[t.key]"></span> {% trans 'шт.' %}</caption>
					{% verbatim %}
					<tr ng-repeat-start="(ccode, dstat) in data.detailedStats[t.key]">
						<td rowspan="{{ Utils.size(dstat) }}" class="summ_country"><img src="/static/images/blank.gif" class="summ_img flag flag-{{ ccode.toLowerCase() }}"/>&nbsp; {{ countries[ccode.toLowerCase()] }}</td>
						<td class="summ_type">{{ Utils.keys(dstat)[0] }}..{{ ccode }} ({{ dstat[Utils.keys(dstat)[0]].length }})</td>
						<td class="summ_tracks">
							<a ng-repeat-start="track in dstat[Utils.keys(dstat)[0]]" ng-href="/track/{{ track.id }}/">{{ track.time }}</a>
							<span ng-repeat-end ng-if="!$last"></span>
						</td>
					</tr>
					<tr ng-repeat-end ng-repeat="(key, tracks) in dstat" ng-if="!$first">
						<td class="summ_type">{{ key }}..{{ ccode }} ({{ tracks.length }})</td>
						<td class="summ_tracks">
							<a ng-repeat-start="track in tracks" ng-href="/track/{{ track.id }}/">{{ track.time }}</a>
							<span ng-repeat-end ng-if="!$last"></span>
						</td>
					</tr>
					{% endverbatim %}
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}