{% extends 'base.html' %}
{% load rstatic %}{% load customfilters %}{% load i18n %}

{% block debugjs %}
<script src='{% cstatic "js/ng/controllers/sideStats.js" %}'></script>
{% endblock %}

{% block title %}- {% trans 'информация по треку' %} #{{ track.id }} ({{ track.number|trackhide }}, {% trans track.source.country %}){% endblock %}

{% block content %}
<div class='container-fluid'>
	<div class='row-fluid'>
		<div class='span3' ng-controller='sideStatsCtrl' ng-init='setService({{ track.source.id }})'>{% include 'sidestats.html' %}</div>
		<div class='span9'>{% include 'addform.html' %}
			{# {% include 'ads/adster_600x120.html' %} #}
			{# {% include 'ads.html' %} #}
			<div class='text-center'>
				<h4>{% trans 'Подробная информация по треку' %} #{{ track.id }} ({{ track.number|trackhide }})</h4>
			</div>
			<div class='well well-small legend justify'>
				{% trans '<u>Подсказка:</u> для удобства, в скобках возле дат отображается количество дней, прошедшее от предыдущей операции до указанной. Дата передачи на таможенное оформление фиксируется только для бандеролей (треки, начинающиеся с буквы "C"), а также EMS-отправлений (треки, начинающиеся на "E").' %}
			</div>
			<table class='table table-condensed table-hover' id='trackTable'>
				<tr>
					<td>{% trans 'Трек-номер' %}</td><td><strong>{{ track.number|trackhide }}</strong></td>
				</tr>
				<tr>
					<td>{% trans 'Страна-отправитель посылки/посредник' %}</td><td><strong><img src='{% cstatic "images/blank.gif" %}' class='summ_img flag flag-{{ track.source.ccode }}'>&nbsp;{% trans track.source.country %}</strong></td>
				</tr>
				<tr>
					<td>{% trans 'Служба доставки' %}</td><td>{{ track.source.postname }}</td>
				</tr>
				<tr>
					<td>{% trans 'Дата добавления посылки' %}</td><td>{{ track.datecreate|date:"d.m.Y H:i" }}</td>
				</tr>
				{% if track.bagno %}
				<tr>
					<td>{% trans 'Номер депеши (мешка)' %}</td>
					<td><a href='/stat/?service={{ track.source.id }}&amp;bagNumber={{ track.bagno }}'><strong>{{ track.bagno }}</strong></a></td>
				<tr>{% endif %}{% if track.datelastcheck %}
				<tr>
					<td>{% trans 'Последнее обновление' %}</td><td> {{ track.datelastcheck|date:"d.m.Y H:i" }}</td>
				</tr>{% endif %}{% if track.dateaccept %}
				<tr>
					<td>{% trans 'Поступление на почту отправителя (прием)' %}</td><td>{{ track.dateaccept|customdate }}</td>
				</tr>{% endif %}{% if track.dateexport %}
				<tr>
					<td>{% trans 'Отправка из страны отправителя (экспорт)' %}</td><td>{{ track.dateexport|customdate }} ({{ track.accept|daysdiff:track.export }})</td>
				</tr>{% endif %}{% if track.dateimportd %}
				<tr>
					<td>{% trans 'Поступление в ММПО Украины (импорт)' %}</td><td>{{ track.dateimportd|customdate }} ({{ track.export|daysdiff:track.importd }})</td>
				</tr>{% endif %}{% if track.dateentercustoms %}
				<tr>
					<td>{% trans 'Передача на таможенное оформление' %}</td><td>{{ track.dateentercustoms|customdate }} ({{ track.importd|daysdiff:track.entercustoms }})</td>
				</tr>{% endif %}{% if track.dateimportleave %}
				<tr>
					<td>{% trans 'Отправка из места международного обмена' %}</td><td>{{ track.dateimportleave|customdate }} ({{ track.importd|daysdiff:track.importleave }})</td>
				</tr>{% endif %}{% if track.datearrive %}
				<tr>
					<td>{% trans 'Поступление в почтовое отделение вручения' %}</td><td>{{ track.datearrive|customdate }} ({{ track.importleave|daysdiff:track.arrive }})</td>
				</tr>{% endif %}{% if track.datedeliver %}
				<tr>
					<td>{% trans 'Вручение адресату' %}</td><td>{{ track.datedeliver|customdate }} ({{ track.arrive|daysdiff:track.deliver }})</td>
				</tr>{% endif %}
				<tr>
					<td>{% trans 'Всего дней в пути' %}</td><td><strong>{{ track|calcdays }}</strong></td>
				</tr>
			</table>
			<div class='text-center'>
				<a href='/stat/?service={{ track.source.id }}' class='btn'><img src='{% cstatic "images/blank.gif" %}' class='flag flag-{{ track.source.ccode }}'>&nbsp;{% trans 'Статистика по стране' %}: <strong>{% trans track.source.country %}</strong></a>
				<a href='/stat/?parcelType={{ parcelType }}&amp;service={{ track.source.id }}' class='btn btn-primary'><i class='icon-barcode icon-white'></i>&nbsp;{% trans 'Статистика по трекам вида' %} <strong>{{ track.number|trackhide_summary }}</strong></a>
			</div>
		</div>
	</div>
</div>
{% endblock %}